---
export interface Props {
    id: string;
    name: string;
    title: string;
}

const { id, img, name, title } = Astro.props;

const input = {
    jessica: "peer/jessica",
    joshua: "peer/joshua",
    jocelyn: "peer/jocelyn",
    joseph: "peer/joseph",
    john: "peer/john",
    jeremy: "peer/jeremy",
};

const output = {
    jessica: "peer-checked/jessica:[&_label]:p-1.5",
    joshua: "peer-checked/joshua:[&_label]:p-1.5",
    jocelyn: "peer-checked/jocelyn:[&_label]:p-1.5",
    joseph: "peer-checked/joseph:[&_label]:p-1.5",
    john: "peer-checked/john:[&_label]:p-1.5",
    jeremy: "peer-checked/jeremy:[&_label]:p-1.5",
};
---

<input
    id={id}
    type="radio"
    class={"hidden " + input[id]}
    name="team"
    checked={id === "jessica" ? "checked" : null}
/>
<label
    for={id}
    class={"lg:flex hidden flex-col justify-start gap-2 flex-1 col-span-1 label " +
        output[id]}
>
    <label
        for={id}
        class="min-w-32 aspect-square rounded-full cursor-pointer scale-100 hover:scale-105 transition-all duration-500 p-0 bg-gradient-to-tr from-[#F8D543] to-[#EA8825]"
    >
        <div
            class="aspect-square rounded-full h-full w-full border-4 border-white overflow-hidden flex justify-center items-start"
        >
            <img class="min-w-[135%]" src={`/${id}.webp`} alt="" />
        </div>
    </label>
    <div>
        <p class="text-center font-semibold">{name}</p>
        <p class="text-center">{title}</p>
    </div>
</label>
